@use 'variables/colors';
@use 'fonts';
@use 'reset';

html, body {
  font-family: 'Manrope', sans-serif;

  min-width: 320px;
  background-color: var(--background-color);
  font-weight: normal;
  color: black;
}

.manrope {
  font-family: 'Manrope', sans-serif;
}

button {
  color: white;
  transition: all .2s;
}

.loadingRotate {
  animation: rotate 0.6s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}