button {
  padding: 0;
  font-weight: bold;
}

input {
  border: none;
  outline: none;
  background: none;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  font-weight: inherit;
}

svg {
  fill: white;
}